@use '../base/variables' as v;
@use '../base/mixins' as m;



#cont1-pag17{
    position: relative;
    display: flex;
    overflow: hidden;
    background: v.$colorFuente;
    height: 20rem;

    @include m.telefono{
        height: 40rem;
    }
    .img-personaje1{
        position: relative;
        height: 100%;
        width: 10%;

        @include m.tablet{
            width: 15%;
        }

        @include m.telefono{
            position: absolute;
            height: 15rem;
            width: 10rem;
            top: 25rem;
        }
    }

    #text-personaje1{
        display: flex;
        position: relative;
        text-align: center;
        @include m.resaltar(v.$blanco,500);
        width: 70%;
        height: 50%;
        top: 5rem;
        left: 6rem;

        @include m.tablet{
            top: 3rem;
        }

        @include m.telefono{
            width: 100%;
            padding: 2rem;
            left: 0;
            top: 0;
        }
    }
}

#cont2-pag17{
    @include m.grid(2, 0);

    @include m.tablet{
        @include m.grid(1, 0);
    }

    #cont-graficaPastel{
        background: v.$azulPastel;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #cont-buzon{
        #buzon{
            display: flex;
            height: 15rem;
            background: v.$azulPag17;
            padding: 2rem;

            #text-buzon{
                text-align: center;
                padding: 2rem;
                @include m.resaltar(v.$colorFuente, 700);
            }
        }

        #personaje{
            display: flex;
            background: v.$crema;
            height: 40rem;
            justify-content: flex-end;

            @include m.telefono{
                height: 60rem;
                display: grid;
            }

            #text-personaje2{
                padding: 2rem;
                width: 60%;

                @include m.telefono{
                    width: 100%;
                    text-align: justify;
                }

            }

            .img-personaje2{
                @include m.telefono{
                    height: 25rem;
                    width: 18rem;
                    margin-left: 5rem;
                }
            }
        }
    }
}

#cont3-pag17{
    background: v.$crema3;
    height: 20rem;
    display: flex;

    @include m.telefono{
        display: grid;
        height: 42rem
    }

    .img-personaje3{
        @include m.telefono{
            height: 17rem;
            width: 30rem
        }
    }

    #text-personaje3{
        @include m.globoNegro(izquierda);
        width: 70%;
        height: 80%;
        margin: auto;

        @include m.tablet{
            height: 100%;
            margin-left: 2rem;
        }

        @include m.telefono{
            width: 100%;
            margin: 0;
        }
    }
}

#instrucciones-pag17{
    background: v.$azulClaro1;
    height: 10rem;
    display: flex;
    padding: 2rem;

    @include m.telefono{
        height: 20rem;
    }
    
    p{
        margin-left: 2rem;

        @include m.telefono{
            margin-left: 0;
            text-align: justify;
        }
    }

    .img-clic{
        @include m.telefono{
            position: absolute;
            width: 5rem;
            height: 5rem;
            left: 29rem;
            margin-top: 12rem;

        }
    }
}

#cont-carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;

    @include m.telefono{
        height: 65rem;
    }

    #carouselExampleControls{
        width: 80rem;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .carousel-inner{
            width: 90%;
            height: 90%;
            display: flex;
            background: v.$grisFondo2;

            .carousel-item{
                .slide{
                    .txt-slide{
                        text-align: center;
                        height: 10rem;
                        width: 100%;
                        padding: 2rem;
                        background: v.$vino2 ;
                        @include m.resaltar(v.$blanco,500);

                        @include m.telefono{
                            height: auto;
                        }
                    }
    
                    .img-slide{
                        height: 30rem;
                        width: 27rem;
                        padding: 2rem;
                        margin-left: 30%;

                        @include m.telefono{
                            margin-left: 5%;
                            margin-top: 5%;
                        }
                    }

                    .img-maletin{
                        height: 20rem;
                        width: 33rem;
                        padding: 2rem;
                        margin-left: 25%;
                        margin-top: 5%;

                        @include m.telefono{
                            margin-left: 5%;
                            width: 28rem;
                            margin-top: 10rem;
                        }
                    }
                }
            }

        }

    }
}