@use '../base/variables' as v;
@use '../base/mixins' as m;


#cont-gris{
    position: relative;
    top: 5rem;
    @include m.grid(3, 1rem);
    background: v.$grisClaro;
    font-family: v.$poppins;

    @include m.telefono{
        top: 7rem;
    }

    @include m.telefono{
        @include m.grid(1, 3rem);
    }

    #cont01{
        #LD{
            position: relative;
            display: flex;
            justify-content: center;
            top: -5rem;
            @include m.resaltar(v.$colorFuente, 900);

            @include m.tablet{
                left: 5rem;
            }

            @include m.telefono{
                top: -6rem;
                left: 10rem;
            }
        }
            
        #cont01-imagen{
            position: relative;
            background: v.$verdeFuertePag03;
            border-radius: 2rem 2rem 0 0;
            margin-left: 2rem;

            @include m.telefono{
                margin-left: 1rem;
                margin-right: 1rem;    
            }
            
            .lavadora{
                display: flex;
                justify-content: center;
                margin-top: -4rem;
                padding-top: 2rem;
                height: 20rem;

                @include m.tablet{
                    height: 17rem;
                }                
            }
        }
        #texto01{
            position: relative;
            display: flex;
            border-radius: 0 0 2rem 2rem;
            background: v.$negroPag03;
            text-align: center;
            padding: 5rem 3rem 10rem 3rem;
            @include m.resaltar(v.$blanco, 400);
            margin-left: 2rem;
            
            @include m.tablet{
                padding: 5rem 3rem 16rem 3rem;
            }

            @include m.telefono{
                margin-left: 1rem;
                margin-right: 1rem; 
                padding: 7rem 3rem 10rem 3rem;
                margin-bottom: 5rem;   
            }
        }
    }
    #cont02{
        position: relative;
        display: flex;
        border-radius: 0 0 2rem 2rem;
        text-align: center;
        padding: 3rem 5rem 5rem 5rem;
        @include m.resaltar(v.$colorFuente, 400);
        margin-left: 2rem;
        margin-bottom: 8rem;
        border-radius: 2rem;
        background: v.$azulPag03;
        margin-top: -2rem;

        @include m.tablet{
            padding: 4rem 2rem 10rem 2rem;
        }

        @include m.telefono{
            padding: 15rem 3rem 5rem 3rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
    #cont03{
        #FT{
            position: relative;
            display: flex;
            top: -5rem;
            left: 5rem;
            align-content: center;
            @include m.resaltar(v.$colorFuente, 900);

            @include m.tablet{
                left: 2rem;
            }

            @include m.telefono{
                top: -5rem;
                left: 5rem;
            }
        }
            
        #cont03-imagen{
            position: relative;
            background: v.$naranjaPag03;
            border-radius: 2rem 2rem 0 0;
            margin-left: 2rem;
            margin-right: 2rem;

            @include m.tablet{
                margin-left: 1rem;
            }

            @include m.telefono{
                margin-left: 1rem;
                margin-right: 1rem;
            }
            .terrorista{
                display: flex;
                margin-left: 4rem;
                margin-top: -4rem;
                padding-top: 2rem;
                height: 20rem;

                @include m.escritorioHD{
                    margin-left: 5rem;
                }

                @include m.tablet{
                    height: 15rem;
                    margin-left: 3rem;
                    padding-top: 3rem;
                }

                @include m.telefono{
                    margin-left: 9rem;
                }
            }
        }
        #texto03{
            position: relative;
            display: flex;
            border-radius: 0 0 2rem 2rem;
            background: v.$verdeClaroPag03;
            text-align: center;
            padding: 3rem 3rem 5rem 3rem;
            @include m.resaltar(v.$colorFuente, 400);
            margin-left: 2rem;
            margin-bottom: 8rem;
            margin-right: 2rem;

            @include m.escritorioHD{
                padding: 5rem 2rem 6rem 2rem;
            }

            @include m.tablet{
                margin-left: 1rem;
                padding: 5rem 2rem 5rem 2rem;
            }
            @include m.telefono{
                margin-left: 1rem;
                margin-right: 1rem;
            }
                
        }
    }

    .personaje{
        display: flex;
        position: absolute;
        height: 40%;
        top: 27rem;
        margin-left: 55rem;
        
        @include m.escritorioHD{
            left: 50rem;
            top: 30rem;
        }

        @include m.tablet{
            height: 15rem;
            left: 30rem;
            top: 47rem;
        }

        @include m.telefono{
            left: 18rem;
            top: 50rem;
        }
    }
}
