@use '../base/variables' as v;
@use '../base/mixins' as m;



#instrucciones-pag20{
    background: v.$azulClaro1;
    height: 10rem;
    display: flex;
    padding: 2rem;

    @include m.telefono{
        padding: 1rem;
    }

    p{
        margin: auto;

        @include m.tablet{
            margin-left: 2rem;
        }

        @include m.telefono{
            margin-left: 0;
        }
    }

    img{
        @include m.telefono{
            width: 0;
            height: 0;
        }
    }
}

#flipCards-pag09{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;

    .cards{
        width: 22rem;
        height: 40rem;
        position: relative;
        cursor: pointer;

        &#flip1{
            @include m.flip-cardsPag20(fuerte, v.$azul2);
        }
        
        &#flip2{
            @include m.flip-cardsPag20(fuerte, v.$naranja);
            top: 5rem;

            @include m.escritorioHD{
                top: 0
            }
        }
        &#flip3{
            @include m.flip-cardsPag20(fuerte, v.$amarilloPag20);
        }
        &#flip4{
            @include m.flip-cardsPag20(fuerte, v.$verde);
            top: 5rem;

            @include m.escritorioHD{
                top: 0;
            }

            @include m.tablet{
                top: 3rem;
            }

            @include m.telefono{
                top: 0;
            }
        }
        &#flip5{
            @include m.flip-cardsPag20(fuerte, v.$azulRey);

            @include m.escritorioHD{
                top: 3rem;
            }

            @include m.telefono{
                top: 0;
            }
        }
        
        .caras{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: all 1s ease;            
        }
        
        .front{
            transform: perspective(50rem) rotateY(0deg);

            .cont-imagen{
                width: 100%;
                height: 100%;
                
            }
        }

        .back{
            transform: perspective(50rem) rotateY(180deg);

            .cont-mensaje-back{
                padding: 2rem;
                text-align: justify;
            }
        }

        &.click{
            .front{
                transform: perspective(50rem) rotateY(180deg);
            }
        
            .back{
                transform: perspective(50rem) rotateY(360deg);
            }
        }
    }
}

