@use '../base/variables' as v;
@use '../base/mixins' as m;

#cont-intro19{

    .titulo{
        padding: 2rem;
        text-align: center;
        color: v.$blanco;
        background: v.$verde;
        font-weight: 700;
    }

    .tarjetas{
        margin-top: 2rem;
        height: 40rem;
        @include m.grid(3, 2rem);

        .tarjeta{
            border-radius: 1rem;
            padding: 2rem;
            font-weight: 500;

            &#tarjeta1{
                background: v.$fondo6;
            }

            &#tarjeta2{
                background: v.$fondo4;
            }

            &#tarjeta3{
                background: v.$fondo1;
            }
        }
    }
}