@use '../base/variables' as v;
@use '../base/mixins' as m;

#intro-cuestionario{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
        left: 0;
        background: v.$azulRey;
        z-index: -1;
    }

    .cont-imagen{
        width: 30%;
    }

    .parrafo{
        width: 60%;

        p{
            color: v.$blanco;
        }
    }

    .cont-boton{
        width: 100%;
    }
}