@use '../base/variables' as v;
@use '../base/mixins' as m;

.cont-mano{
    background: v.$azulClaro2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;

    .cont-imagen{
        width: 6rem;
        height: 6rem;
        border: 5px solid v.$blanco;
        border-radius: 50%;
        padding: 1rem;
        margin-right: 4rem;
    }

    p{
        @include m.tablet{
            width: 60%;
        }
    }
}

.contSeguro{
    h1{
        text-align: center;
        background: v.$azulRey;
        color: v.$blanco;
        padding: 1rem;
    }

    .cajas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        flex-wrap: wrap;

        .numero{
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$azulRey;
            color: v.$blanco;
            border-radius: 1rem;
            padding: 2rem;
            cursor: pointer;

            @include m.tablet{
                width: 100%;
                border-radius: 0;
            }
        }

        .concepto{
            width: 85%;
            height: 100%;
            padding: 2rem;
            background: v.$fondo2;
            font-weight: 700;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: all .3s ease-in-out;

            &.abrirConcepto{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            @include m.tablet{
                width: 100%;
                text-align: center;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                ol{
                    padding: 3rem 6rem;
                    text-align: left;
                }
            }
        }
    }
}

.contReaseguro{
    h1{
        text-align: center;
        background: v.$verde;
        color: v.$blanco;
        padding: 1rem;
    }
    .cajas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        flex-wrap: wrap;

        .numero{
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: v.$verde;
            color: v.$blanco;
            border-radius: 1rem;
            padding: 2rem;
            cursor: pointer;

            @include m.tablet{
                width: 100%;
                border-radius: 0;
            }
        }

        .concepto{
            width: 85%;
            height: 100%;
            padding: 2rem;
            background: v.$fondo3;
            font-weight: 700;clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: all .3s ease-in-out;

            &.abrirConcepto{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            @include m.tablet{
                width: 100%;
                text-align: center;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                ol{
                    padding: 3rem 6rem;
                    text-align: left;
                }
            }
        }
    }
}