@use '../base/variables' as v;
@use '../base/mixins' as m;

#cont-intro08{

    background: v.$naranjaPag03;
    position: relative;
    padding: 2rem;

    @include m.escritorio{
        padding: 2rem 0;
    }

    #figura-fondo{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #cont-mensaje08_1{

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 4rem;

        @include m.escritorio{
            margin-top: 12rem;
        }

        @include m.telefono{
            margin-top: 3rem;
        }


        .cont-imagen{
            width: 20%;

            @include m.escritorio{
                position: absolute;
                width: 20rem;
                top: 2rem;
                left: 0;
            }

            @include m.telefono{
                width: 10rem;
            }
        }

        #mensaje1{

            display: flex;
            justify-content: center;
            align-items: center;
            width: 75%;

            @include m.escritorio{
                width: 100%;
            }

            .caja{
                h3{
                    color: v.$blanco;
                    text-align: center;
                    background: v.$azulRey;
                    padding: 2rem;
                    border-bottom: 20px solid v.$azulClaro1;

                    @include m.escritorio{
                        text-align: right;
                        padding-left: 20rem;
                    }

                    @include m.telefono{
                        padding-left: 10rem;
                    }
                }
    
                ul{
                    background: v.$blanco;
                    padding: 3rem 2rem;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    padding: 2rem 6rem;

                    @include m.escritorio{
                        border-bottom-left-radius: 0rem;
                        border-bottom-right-radius: 0rem;
                    }
                }
            }
        }
    }

    #cont-mensaje08_2{

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        #cont-alerta{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include m.escritorio{
                width: 100%;
                order: 2;
            }

            #alerta{
                width: 100%;

                #titulo-mensaje{
                    font-size: 1.4rem;
                    text-align: center;
                    background: v.$rojo2;
                    color: v.$blanco;
                    padding: 2rem 1rem;
                    border-bottom: 20px solid v.$amarillo;
                }

                #contenido{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: v.$blanco;
                    padding: 3rem 2rem;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;

                    @include m.escritorio{
                        border-bottom-left-radius: 0rem;
                        border-bottom-right-radius: 0rem;
                    }

                    .cont-imagen{
                        width: 20%;
                    }

                    #alerta-mensaje{
                        width: 75%;

                        h4{
                            color: v.$rojo2;
                        }

                        #p1{
                            font-weight: 700;
                        }
                    }
                }
            }
        }


        #mensaje08_2{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include m.escritorio{
                width: 100%;
                order: 1;
                background: v.$colorFuente;
            }

            .cont-imagen{
                width: 45%;
            }
    
            #globo{
                width: 45%;
                @include m.globoNegro(derecha);
            }
        }
    }
}

