@use '../base/variables' as v;
@use '../base/mixins' as m;

.cuadro-azul22{
    width: 100%;
    height: 2%;
    max-height: 70px;
    background-color: v.$azulRey;
    p{
        text-align: center;
        padding: 2%;
        color: v.$blanco;
    }
}

.mano22{
    border-radius: 0;
}

#botonesPag22{
    background: v.$azulPag22;
    @include m.grid(3, 1rem);
    position: relative;
    padding: 2rem;

    @include m.tablet{
        @include m.grid(1, 1rem);
    }

    .info{

        .botones{
            padding: 2rem;

            a{
                border-radius: 1rem;
            }

            &#btn-colocacion{
                a{
                    @include m.botonesPag22(v.$amarilloPag20, v.$colorFuente);
                }
            }

            
            &#btn-estratificacion{
                a{
                    @include m.botonesPag22(v.$verde, v.$blanco);
                }
            }

            
            &#btn-integracion{
                a{
                    @include m.botonesPag22(v.$azul2, v.$azulRey);
                }
            }
        }

        .cuadros22{
            width: 90%;
            height: 30rem;
            margin: 0 auto;
            display: none;
            opacity: 0;
            transition: all .3s ease;
            border-radius: 2rem;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            padding: 2rem;

            @include m.escritorio{
                height: 38rem;

                span{
                    text-align: center;
                }
            }

            @include m.tablet{
                height: auto;
            }

            &.cuadros_activos{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 1;
            }

            &#info-colocacion{
                background: v.$amarilloPag20;
            }

            &#info-estratificacion{
                background: v.$verdePag22;
            }

            &#info-integracion{
                background: v.$fondo1;
            }
        }
    }
}

#actividad-relacion22{

    .instrucciones-mano{
        border-radius: 0;

        #parrafo1{

            @include m.telefono{
                display: none;
            }
        }
        
        #parrafo2{
            display: none;

            @include m.telefono{
                display: block;
            }
        }
    }

    #actividad{
        margin-top: 2rem;
        padding: 2rem;
        @include m.grid(5, 0);
        background: v.$fondo1;

        @include m.telefono{
            @include m.grid(1, 0);
        }

        .cont-conceptos{
            grid-column: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @include m.telefono{
                grid-column: 1/2;
            }

            .fila{
                position: relative;
                width: 100%;

                .conceptos{
                    margin: 2rem 0;
                    padding: 2rem;
                    width: 100%;
                    background: v.$blanco;
                    box-shadow: 1px 0px 5px 2px rgba(0,0,0,0.31);
                    cursor: pointer;

                    @include m.escritorioHD{
                        margin: 6rem 0;
                    }

                    @include m.escritorio{
                        margin: 3rem 0;
                    }

                    @include m.tablet{
                        margin: 1rem 0;
                    }
    
                    &.seleccionC{
                        border: 2px solid v.$amarillo;
                    }
                }

                .respuestas{
                    display: none;

                    @include m.telefono{
                        display: block;
                    }

                    .respuesta{
                        padding: 2rem;
                        background: v.$azul2;
                        margin: 1rem 0;
                        cursor: pointer;
                        
                        p{
                            color: v.$blanco;
                            text-align: center;
                        }

                        &.fondoCorrecto{
                            background: v.$verde;
                            color: v.$blanco;
                            cursor: default;
                        }
                        
                        &.fondoIncorrecto{
                            background: v.$rojo2;
                            color: v.$blanco;
                            cursor: default;
                        }
                    }
                }

                .bloquear{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: transparent;
                    display: none;

                    &.activo{
                        display: block;
                    }
                }
            }
        }

        .cont-canvas{
            grid-column: 3/4;
            height: 100%;
            position: relative;

            .canvasR{
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }

            @include m.telefono{
                display: none;
            }
        }

        .cont-relacionar{
            grid-column: 4/6;

            @include m.telefono{
                display: none;
            }

            .definicion{
                width: 100%;
                position: relative;
                
                .definicion-lavado{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;                
                    margin-bottom: 2rem;
                    cursor: pointer;

                    &.seleccionD{
                        border: 2px solid v.$amarillo;
                    }


                    .cont-imagen{
                        width: 16rem;
                        height: 16rem;

                        @include m.tablet{
                            width: 12rem;
                            height: 12rem;
                        }
                    }

                    .info{
                        width: 60%;
                        padding: 2rem;
                        text-align: center;
                        @include m.resaltar(v.$blanco, 700);
                        border-radius: 2rem;

                        @include m.escritorio{
                            width: 100%;
                        }

                        @include m.tablet{

                            font-size: 1.4rem;
                        }

                        &#info1{
                            background: v.$verde;
                        }

                        &#info2{
                            background: v.$amarillo;
                        }

                        &#info3{
                            background: v.$azul2;
                        }
                    }
                }

                .bloquear{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: transparent;
                    display: none;

                    &.activo{
                        display: block;
                    }
                }
            }
        }
    }
}