@use '../base/variables' as v;
@use '../base/mixins' as m;


#cont-pag16{
    @include m.grid(2, 0);

    @include m.tablet{
        @include m.grid(1, 0);
    }

    #cont-izquierda{
        height: 60rem;

        @include m.escritorioHD{
            height: 80rem;
        }

        @include m.tablet{
            height: 50rem;
        }

        @include m.telefono{
            height: 80rem;
        }

        #cont-img{
            display: flex;
            background: v.$azul2;
            height: 60%;

            .personaje{
                height: 70%;
                margin-top: 11rem;

                @include m.escritorioHD{
                    height: 60%;
                    margin-top: 20rem;
                }

                @include m.tablet{
                    margin-top: 11rem;
                    height: 65%;
                }

                @include m.telefono{
                    position: absolute;
                    overflow: hidden;
                    margin-top: 28rem;
                    height: 20rem;
                    width: 20rem;
                }
            }

            #globo1{
                @include m.globoNegro(izquierda);
                width: 50%;
                height: 75%;
                margin-top: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                margin-bottom: 1rem;

                @include m.escritorioHD{
                    height: 100%;
                    margin-top: 0;
                }

                @include m.tablet{
                    margin-right: 0;
                    margin-left: 0;
                    height: 50%;
                    width: 100%;
                }
            }
        }

        #cont-gris{
            position: relative;
            background: v.$grisClaro;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            #globo2{
                @include m.globo(v.$vino, arriba);
                @include m.resaltar(v.$blanco, 500);
                width: 95%;
                height: 85%;

                @include m.escritorioHD{
                    height: 90%;
                    width: 90%;
                }

                @include m.tablet{
                    width: 100%;
                    height: 100%;
                }
                
            }
        }
    }

    #cont-derecha{
        #cont-vino{
            display: flex;
            text-align: center;
            align-items: center;
            background: v.$vino;
            height: 30%;
            @include m.resaltar(v.$blanco, 500);

            @include m.telefono{
                margin-top: 1rem;
            }
        }

        #instrucciones{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30%;

            @include m.tablet{
                height: 7rem;
            }

            .mano{
                width: 10%;
                height: 25%;

                @include m.tablet{
                    height: 50%;
                    width: 8%;
                    margin-top: 1rem;
                }

                @include m.telefono{
                    width: 20%;
                    height: 60%;
                }
            }
        }

        #botones{
            display: flex;
            position: relative;
            align-items: center;
            background: v.$grisPag07;
            height: 40%;

            @include m.tablet{
                margin-top: 1rem;
            }

            #btn-aseguradora{
                margin-left: 3rem;
                width: 50%;

                @include m.telefono{
                    margin-left: 1rem;
                }
                a{
                    @include m.botones(v.$azulRey);
                }
            }
            #btn-reaseguradora{
                width: 60%;

                a{
                    @include m.botones(v.$verde);
                }
            }
        }
    }
}

#cards-pag16{

    @include m.tablet{
        margin-top: 1rem;
    }
    .mapa-pag16{
        display: none;
        opacity: 0;
        transition: all .3s ease;
    }
    #aseguradora{
        @include m.conceptual(v.$azulRey);
        height: 80rem;

        @include m.tablet{
            height: 95rem;
        }

        @include m.telefono{
            height: auto;
        }

        &.cuadros_activos{
            display: block;
            opacity: 1;
        }
    }
    #reaseguradora{
        @include m.conceptual(v.$verde);
        height: 70rem;

        @include m.tablet{
            height: 80rem;
        }

        @include m.telefono{
            height: auto;
            margin-top: 1rem;
        }

        &.cuadros_activos{
            display: block;
            opacity: 1;
        }
    }
}