@use '../base/variables' as v;
@use '../base/mixins' as m;

.cuadro2click{
    display: flex;
    background-color: #D9EDEF;
    align-items: center;
    padding:0% 2.5%;
    .icon2c{
        padding-top: 1%;
        width: 5%;
        height: 5%;
    }
    p{
        padding-top: 1%;
        margin-left: 2%;
        text-align: center;
    }
}

.contenido1{
    .nivel01{
        display: flex;
        color: #fff;
        text-align: center;
        .cuadro-negro{
            background-color:#1A1E1E ;
            width: 35%;
            height: 2%;
            margin-top: 2%;
        }
        .cuadro-naranja{
            padding: 0%;
            margin: 2% 2%;
            background-color:#E96247 ;
            width: 35%;
            height: 2%;
        }
        .cuadro-azul{
            background-color:#002F87;
            width:35%;
            height: 2%;
            margin-top: 2%;
        }
    }

    .nivel-inf{
        display: flex;
        height: 60%;
        .cuadro-claro{
            position: relative;
            width: 75%;
            height: 100%;
            min-height: 90px;
            background-color: #E1E7ED;
            margin-top: 2%;
            padding: 1.5% 3%;
            font-size: 1.3vh;
            text-align: center;
            z-index: -1;
        }
        .cuadro-central{
            width: 60%;
            margin: 2% 2%;
            display: block;
            .icon-c{
                position: relative;
                margin: 0% 30% -31% 40%;
                height: 40%;
                width: 20%;
                z-index: 2;
            }
            .cuadro-c{
                margin-left: -18%;
                margin-right: -17%;
                margin-top: 10%;
                height: 80%;
                position: relative;
                z-index: 1;
            }
        }
    }
}
.contenido2{
    display: block;
    background-color: #E6E6E6;
    height: 40%;
    max-height: 615px;
    margin-top: 0.5%;
    .nivel01{
        display: flex;
        color: #fff;
        text-align: center;
        margin-left: 5%;
        .cuadro-negro{
            background-color:#1A1E1E ;
            width: 30%;
            height: 2%;
            margin-top: 2%;
        }
        .cuadro-naranja{
            padding: 0%;
            margin: 2% 2%;
            background-color:#E96247 ;
            width: 30%;
            height: 2%;
        }
        .cuadro-azul{
            background-color:#002F87;
            width:30%;
            height: 2%;
            margin-top: 2%;
        }
    }
    .contenido3{
        .nivel01{
            display: flex;
            color: #fff;
            text-align: center;
            .cuadro-negro{
                background-color:#1A1E1E ;
                width: 35%;
                height: 2%;
                margin-top: 2%;
            }
            .cuadro-naranja{
                padding: 0%;
                margin: 2% 2%;
                background-color:#E96247 ;
                width: 35%;
                height: 2%;
            }
            .cuadro-azul{
                background-color:#002F87;
                width:35%;
                height: 2%;
                margin-top: 2%;
            }
        }
    
        display: block;
        .maletin{
            display: flex;
            margin-left: 2%;
            .i-maletin{
                height: 19%;
                width: 10%;
            }
            p{
                display: block;
                margin-left: 2%;
                padding: 0.8%;
                width: 83%;
                height: 50%;
                background-color: #FDF5EB;
                text-align: center;
                font-size: 1.7vw;
            }
        }
    }
}
