@use '../base/variables' as v;
@use '../base/mixins' as m;

.contenedorPag23{
    
    .cont-mano{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: v.$azulClaro2;
        padding: 2rem;

        .cont-imagen{
            width: 6rem;
            height: 6rem;
            border: 5px solid v.$blanco;
            padding: 1rem;
            border-radius: 50%;
            margin: 0;
        }

        p{
            width: 80%;
        }
    }

    .cont-fichas{
        width: 100%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        

        .fichas{

            width: 18%;
            margin-bottom: 2rem;

            @include m.escritorio{
                width: 45%;
            }

            @include m.tablet{
                width: 100%;
                padding: 2rem;
            }

            a{
                display: block;
                height: 20rem;

                .caja{
                    
                    margin-bottom: 2rem;
                    box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.41);
        
                    .titulo{
                        text-align: center;
                        padding: 2rem .5rem;
                        height: 8rem;
                        background: v.$verde;
                        color: v.$blanco;
                        font-size: 1.6rem;
                    }
        
                    .cont-imagen{
                        width: 100%;
                        height: 12rem;
    
                        @include m.tablet{
                            width: 30%;
                            margin: 0 auto;
                        }
    
                        @include m.telefono{
                            width: 45%;
                            margin: 0 auto;
                        }
        
                        &.mitad{
                            width: 50%;
                            margin: 0 auto;
    
                            @include m.escritorioHD{
                                width: 70%;       
                            }
    
                            @include m.escritorio{
                                width: 50%;       
                            }
    
                            @include m.tablet{
                                width: 25%;       
                            }
    
                            @include m.tablet{
                                width: 45%;       
                            }
    
                            img{
                                padding: 2rem;
    
                                
                            }
                        }
                    }
                }    
            }
            

            .cont-info{
                padding: 2rem;
                background: v.$fondo6;
                height: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: all .3s ease;

                p{
                    text-align: center;
                    display: none;
                }

                li{
                    display: none;
                }

                &.visualizar{
                    height: 45rem;
                    opacity: 1;

                    p{
                        display: block;
                    }

                    li{
                        display: block;
                    }

                    @include m.tablet{
                        height: auto;
                    }
                }

                
            }
        }
    }

    .organismos{
        margin-top: 2rem;

        .filas{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 1rem;
            margin-bottom: 2rem;
            flex-wrap: wrap;

            &#fila1{
                .imagen{
                    background: v.$fondo5;
                }

                .info{
                    background: v.$fondo5;
                }
            }

            &#fila2{
                .imagen{
                    background: v.$fondo4;
                }

                .info{
                    background: v.$fondo4;
                }
            }

            &#fila3{
                .imagen{
                    background: v.$fondo6;
                }

                .info{
                    background: v.$fondo6;
                }
            }

            &#fila4{
                .imagen{
                    background: v.$fondo9;
                }

                .info{
                    background: v.$fondo9;
                }
            }

            a{
                display: block;
                width: 20%;

                @include m.tablet{
                    width: 90%;
                    margin-bottom: 2rem;
                }

                .imagen{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem;
                    border-radius: 2rem;
                    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.35);
                    
                    .cont-imagen{
                        width: 40%;
                        height: 8rem;
                        margin: 0;

                        @include m.tablet{
                            width: 25%;
                        }

                        @include m.telefono{
                            width: 40%;
                        }
                    }
                }
            }

            .info{
                width: 70%;
                padding: 2rem;
                border-radius: 2rem;
                box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.35);
                opacity: 0;
                transition: all .3s ease;
                

                p{
                    opacity: 0;
                    transition: all .3s ease;
                }

                &.visualizar{
                    opacity: 1;

                    p{
                        opacity: 1;
                    }
                    
                }

                @include m.tablet{
                    width: 90%;
                }
            }
        }
    }
}