@use '../base/variables' as v;
@use '../base/mixins' as m;


#cont-gris{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: v.$grisClaro;
    top: 7rem;
    height: 57rem;

    @include m.tablet{
        height: 68rem;
        top: 8rem;
    }

    // @include m.telefono{
    //     justify-content: space-around;
    // }

    
    .cont-pag03{
        width: 30%;
        height: 70rem;
        padding: 2rem;
        position: relative;

        @include m.escritorioHD{
            width: 33%;
            padding: 1rem;
        }

        @include m.telefono{
            width: 90%;
        }

        .card03{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            border-radius: 2rem;

            @include m.telefono{
                flex-direction: row;
            }

            figure{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 20rem;

                img{
                    width: 70%;
                }
            }
        }
        
        span{
            padding: 2rem;
            height: 30rem;
            text-align: center;

            @include m.tablet{
                height: 40rem;
            }
        }
    }

    #cont01{
        top: -6rem;

        @include m.tablet{
            top: -4rem;
        }

        #LD{
            position: relative;
            bottom: 2rem;
            @include m.resaltar(v.$colorFuente, 900); 
        }   
        #texto01{
            @include m.resaltar(v.$blanco, 300);
            background: v.$verdeFuertePag03;
        }
        .lavadora{
            padding-top: 2rem;
            background: v.$negroPag03;
        }
    }

    #cont02{
        top: -4rem;

        @include m.tablet{
            top: -2rem;
        }

        #texto02{
            background: v.$azulPag03;
        }
        .personaje{
            padding-top: 2rem;
            background: v.$azulPag03;
        }
    }

    #cont03{
        top: -6rem;
        
        #FT{
            position: relative;
            bottom: 2rem;
            @include m.resaltar(v.$colorFuente, 900);
        }
        #texto03{
            background: v.$verdeClaroPag03;
        }
        .terrorista{
            padding-top: 2rem;
            background: v.$naranja;
        }
    }
}
