@use '../base/variables' as v;
@use '../base/mixins' as m;

#cont-intro11{

    display: flex;
    justify-content: flex-end;
    background: v.$azul1;

    .instrucciones-mano{
        border-radius: 0;
        width: 50%;

        @include m.tablet{
            width: 100%;
        }
    }
}

#cont-tarjetas-flip{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;

    @include m.tablet{
        justify-content: center;
    }

    .cards{
        width: 30%;
        height: 55rem;
        position: relative;
        cursor: pointer;

        @include m.escritorioHD{
            height: 60rem
        }

        @include m.escritorio{
            width: 48%;
            height: 40rem;
            margin-bottom: 3.2rem;
        }

        @include m.tablet{
            width: 65%;
        }

        @include m.telefono{
            width: 95%;
        }

        &#flip1{
            @include m.flip-cards(v.$azul1, fuerte);
        }
        
        &#flip2{
            @include m.flip-cards(v.$verde, fuerte);
        }
        
        &#flip3{
            @include m.flip-cards(v.$dorado, claro);
        }

        .cont-titulo{
            padding: 2rem 3rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                color: v.$blanco;
                text-align: center;
            }
        }

        
        .caras{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transition: all 1s ease;            
        }
        
        .front{
            transform: perspective(50rem) rotateY(0deg);

            .cont-imagen{
                width: 60%;
                height: 20rem;
                margin: 0 auto;

                @include m.escritorio{
                    height: 12rem;
                }
            }

            .cont-mensaje-front{
                padding: 2rem;
                text-align: center;
                font-weight: 700;
            }
        }

        .back{

            transform: perspective(50rem) rotateY(180deg);

            .cont-mensaje-back{
                padding: 2rem;
                text-align: center;
                line-height: 1.6;
            }
        }

        // &:hover{

        //     .front{
        //         transform: perspective(50rem) rotateY(180deg);
        //     }

        //     .back{
        //         transform: perspective(50rem) rotateY(360deg);
        //     }

        // }

        &.click{
            .front{
                transform: perspective(50rem) rotateY(180deg);
            }
        
            .back{
                transform: perspective(50rem) rotateY(360deg);
            }
        }
    }
}