@use '../base/variables' as v;
@use '../base/mixins' as m;

.versus{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.tablet{
        display: none;
    }

    .seguro{
        width: 45%;
        background: v.$azulRey;
        color: v.$blanco;
        text-align: center;
    }

    .vs{
        width: 10%;
        background: v.$amarillo;
        color: v.$azulRey;
        text-align: center;
    }

    .reaseguro{
        width: 45%;
        background: v.$verde;
        color: v.$blanco;
        text-align: center;
    }
}

.tablaComparacion{
    @include m.grid(2, 0);

    @include m.tablet{
        @include m.grid(1, 0);
    }

    .listaSeguro{
        h1{
            display: none;

            @include m.tablet{
                display: block;
                text-align: center;
                color: v.$blanco;
                background: v.$azulRey;
            }
        }
        font-size: 3.2rem;
        color: v.$azulRey;

        @include m.escritorio(){
            font-size: 1.8rem;
        }

        .caja1, .caja3{
            background: v.$fondo2;
            padding: 6rem;
        }
        
        .caja2, .caja4{
            background: v.$grisFondo4;
            padding: 6rem;
        }
    }

    .listaReaseguro{
        h1{
            display: none;

            @include m.tablet{
                display: block;
                text-align: center;
                color: v.$blanco;
                background: v.$verde;
            }
        }
        font-size: 3.2rem;
        color: v.$verde;
        display: flex;
        flex-direction: column;

        @include m.escritorio(){
            font-size: 1.8rem;
        }

        .caja1{
            padding: 6rem;
        }

        .caja2{
            padding: 6rem;
        }

        figure{
            width: 25rem;
            height: 35rem;
            align-self: flex-end;

            @include m.tablet{
                align-self: center;
            }
        }
    }

    .separacionVS{
        display: none;

        @include m.tablet{
            display: block;
                text-align: center;
                color: v.$azulRey;
                background: v.$amarillo;
        }
    }
}