@use '../base/variables' as v;
@use '../base/mixins' as m;

.intro-pagina21{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: v.$azul2;
    position: relative;

    .cont-imagen{
        width: 20%;
        margin: 0;
    }

    .cont-mensaje{
        width: 70%;
    }
}

