@use 'variables' as v;
@use 'mixins' as m;

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: v.$roboto;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.contenedor{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

i{
    width: 2rem;
    margin-right: 2rem;
}

.contenido{
    position: absolute;
    width: calc(100% - 8rem);
    min-height: calc(100vh - 8rem);
    top: 8rem;
    left: 8rem;
    transition: all .3s ease-in-out;
    padding-top: 5rem;

    &.redimensionar{
        left: 25rem;
        width: calc(100% - 25rem);
    }

    @include m.tablet{
        left: 0;
        width: 100%;
    }
    
    @include m.tablet{

        &.redimensionar{
            left: 0;
            width: 100%;
        }
    }
    
    #cont-paginas{
        height: 100%;
        margin-bottom: 10rem;

        .dinamico{
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

.introducciones{
    width: 100%;
    height: 60rem;
    overflow: hidden;
    position: relative;

    @include m.telefono{
        height: 80vh;
    }
}