@use 'variables' as v;
@use 'mixins' as m;

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: v.$poppins;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    color: v.$colorFuente;
}

:root{
    scroll-behavior: smooth;
}

.contenedor{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}


i{
    width: 2rem;
    margin-right: 2rem;
}

.contenido{
    position: absolute;
    width: calc(100% - 8rem);
    min-height: calc(100vh - 8rem);
    top: 8rem;
    left: 8rem;
    transition: all .3s ease-in-out;
    padding-top: 5rem;

    &.redimensionar{
        left: 25rem;
        width: calc(100% - 25rem);
    }

    @include m.tablet{
        left: 0;
        width: 100%;
    }
    
    @include m.tablet{

        &.redimensionar{
            left: 0;
            width: 100%;
        }
    }
    
    #cont-paginas{
        height: 100%;
        margin-bottom: 10rem;
        overflow: hidden;

        .dinamico{
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

.introducciones{
    width: 100%;
    height: 60rem;
    overflow: hidden;
    position: relative;

    @include m.telefono{
        height: 80vh;
    }
}

.resaltar{
    font-weight: 700;
    color: lighten(v.$colorFuente, 4);
}

.instrucciones-mano{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: v.$azulClaro2;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 2rem;

    @include m.tablet{
        border-radius: 0;
        font-size: 1.6rem;
    }

    @include m.telefono{
        font-size: 1.4rem;
    }

    .cont-imagen{
        width: 6rem;
        height: 6rem;
        padding: 1rem;
        border: 5px solid v.$blanco;
        border-radius: 50%;
    }

    p{
        width: 50%;

        @include m.escritorio{
            font-size: 1.2rem;
        }
    }
}

