@use 'variables' as v;

@mixin telefono {
    @media (max-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin escritorio {
    @media (max-width: v.$escritorio) {
        @content;
    }    
}

@mixin escritorioHD {
    @media (max-width: v.$escritorioHD) {
        @content;
    }    
}

@mixin escritorioFHD {
    @media (max-width: v.$escritorioFHD) {
        @content;
    }    
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin resaltar($color, $grosor) {

    color: $color;
    font-weight: $grosor;
}

@mixin fondo($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin fondoCirculos {
    background-image: url('/build/img/contenido/Pag04/fondo.svg');
    @include fondo(center);
}

@mixin cuadrosInfo($color) {
    
    background: lighten($color,  4);
    border: 5px solid darken($color,  4);
    border-radius: 2rem;
    position: relative;
    z-index: 5;
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.75);
    overflow: hidden;
    

    .fondo_oscuro{
        position: absolute;
        top: 0;
        left: 0;
        background: $color;
        clip-path: circle(122.5% at 100% 100%);
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@mixin cuadrosRespuesta ($color) {
    background: $color;
    border-radius: 2rem;
    border: 5px solid darken($color,  4);
    color: $color;
}

@mixin vineta ($fondo, $borde, $width, $margin, $direccion) {

    margin-top: $margin;
    border: 5px solid $borde;
    background: $fondo;
    width: $width;
    padding: 2rem;
    border-radius: 2rem;
    line-height: 1.6;
    position: relative;

    @include tablet(){
        margin-top: 1rem;
    }

    &::before{
        content: '';
        position: absolute;
        top: 20%;
        left: calc(100% + .4rem);
        width: 3rem;
        height: 4rem;
        background: $borde;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);

        @if ($direccion == izquierda){
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
            left: -3.2rem;
        }

        @include tablet{
            top: calc(100% + .4rem);
            left: 40%;
            width: 4rem;
            height: 3rem;
            clip-path: polygon(0 0, 100% 0%, 50% 100%);
        }

    }
}

@mixin cont_pop ($fondo, $marginTop, $marginLeft, $marginBottom, $textAling) {
    margin-top: $marginTop;
    margin-left: $marginLeft;
    margin-bottom: $marginBottom;
    border: 5px solid v.$blanco;
    background: $fondo;
    text-align: $textAling;
    width: 40rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 10px 11px 5px -4px rgba(0,0,0,0.55);
    position: relative;

    @include escritorioHD(){
        margin-left: 17rem;
        text-align: left;
    }

    @include tablet(){
        margin-left: 5rem;
        text-align: left;
    }

    @include telefono(){
        text-align: center;
        width: 30rem;
        margin-left: 1rem;
        margin-top: $marginTop + 9rem;
    }
}

@mixin pop{
    margin-left: 7rem;
    border-radius: 0 2rem 2rem 0;
    background: v.$blanco;
    padding: 3rem 3rem 3rem 3rem;
}

@mixin circulo ($fondo, $top, $paddT){
    width: 15rem;
    height: 15rem;
    top: $top;
    left: 48rem;
    text-align: center;
    font-size: 4rem;
    padding-top: $paddT;
    border-radius: 50%;
    position: absolute;
    box-shadow: 10px 11px 10px -4px rgba(0,0,0,0.55);
    background: $fondo;

    @include escritorioHD(){
        left: 70rem;
    }

    @include tablet(){
        left: 48rem;
    }

    @include telefono(){
        width: 10rem;
        height: 10rem;
        left: 12rem;
        font-size: 2rem;
    }

}

@mixin icon ($width, $height){
    width: $width;
    height: $height;
    top: 2rem;
    left: 1rem;
    position: absolute;
}

@mixin globo($color, $direccion) {
    background: $color;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        background: $color;
        top: 20%;
        width: 3rem;
        height: 4rem;

        @if ($direccion == izquierda){
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
            left: -2.8rem;
        }
    }
}

@mixin circulosLinea($color) {
    background: $color;
    border: 6px solid lighten($color,  25);
}

@mixin fondoInfo($color, $nivel) {
    border-radius: 1rem;
    background: lighten($color,  $nivel);
    font-size: 1.4rem;

    @include escritorioHD(){
        font-size: 1.6rem;
    }

    @include tablet(){
        font-size: 1.4rem;
    }
}

@mixin globoNegro ($posicion) {
    background: v.$colorFuente;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    color: v.$blanco;
    text-align: center;

    &::after{
        content: '';
        position: absolute;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: v.$colorFuente;
        top: -8%;
        left: 20%;
        width: 4rem;
        height: 3rem;

        @if($posicion == izquierda){
            width: 3rem;
            height: 4rem;
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
            top: 20%;
            left: -2%;
        }

        @include escritorio(){
            clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
        }
    }
}

@mixin botones ($fondo){
    display: block;
    text-align: center;
    padding: 2rem 1rem;
    background: $fondo;
    transition: all .3s ease;
    width: 90%;
    color: v.$blanco;
    font-weight: 700;

    &:hover{
        background: darken($fondo, 5);
        transform: scale(1.1);
        box-shadow: 0px 10px 18px -5px rgba(0,0,0,0.75);
    }

    @include escritorio{
        font-size: 1.2rem;
    }
}