@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

//Dispositivos
$telefono: 480px;
$tablet: 768px;
$escritorio: 960px;
$escritorioHD: 1280px;
$escritorioFHD: 1400px; 

//Fuentes
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

//Colores
$blanco: #fff;
$gris1: #E2E8ED;
$verde: #0C8F5A;
$verdeFuerte: #01693F;
$verdeMilitar: #122826;
$naranja: #E96247;
$naranjaClaro: #FAE1DC;
$azul1: #4D72AA;
$amarillo: #F9C930;
$azul2: #7AA0DD;
$azulRey: #002F87;
$grisFuerte: #3D3D3D;
$grisClaro: #9A9A9B;
$amarilloPastel: #F9E39B;

$colorFuente: #1A1E1E;
$azulClaro1: #D9EDEF;
$azulClaro2: #B4DADE;
$rosa: rgba(244, 176,162, 0.25);
$verdeClaro: rgba(12, 143, 90, 0.100);

$gris2:#D5E5FF;
$morado: #652D90;
$moradoOscuro: #262261;
$azulCielo: #1B75BB;
$gris3: #f3f3f3;
$azul3: #94D1EC;
$azul4: #008CC9;
$azul5: #013850;
$azul6: #1AB3A6;
$azul7: #005B83;
$azul8: #0074A7;
$azul9: #3D7F98;
$azul10: #025D6B;
$azul11: #0FB2CC;
$azul12: #013850;
$azul13: #21AAB4;
$verde2: #184945;
$verde3: #395B61;

$verdeFuertePag03: #035F56;
$naranjaPag03: #E96247;
$azulPag03: #ABD2CF;
$verdeClaroPag03: #F4FFFD;
$negroPag03: #122826;


$rosaPag06: #FDCABF;
$rosaClaroPag06: #F9E9E5;
$azulPag06: #EAF9FF;
$azulFuertePag06:#00ADEE;
$azulFuente: #16246D;
$naranjaPag06: #F8EEE2;
$naranjaFuertePag06: #F6921E;
$naranjaFuentePag06: #E2780E;
$naranjaTelPag06: #FFC77D;
$verdePag06: #EAFDEC;
$verdeFuertePag06: #37B34A;
$verdeTelPag06: #D6DE23;
$rojo: #FF4230;
$rojo2: #C42626;
$crema: #FAF3DD;
$crema2: #FEF3D1;
$amarillo2: #FFF600;
$dorado: #C69A0D; 

$fondo1: #C0D7FC;
$fondo2: #DEE6F6;
$fondo3: #CFF1E3;
$fondo4: #FFF4D4;
$fondo5: #F7DDD7;
$fondo6: #E4F1F1;
$fondo7: #FFFFFF;
$fondo9: #EBD8F3;
$grisClaro2: #D6D6D8;
$grisFondo: #AEC1D3;
$grisPag07: #E1E7ED;
$amarilloPag07: #FEFFE0;
$azulPag07: #DBE8FF;

$verdePag12: #19D899;
$azulPag12: #A4C0ED;
$naranjaPag12: #FFEDE9;
$amarilloPastel: #FFE89F;
$rosaPastel: #F5E0DC;
$azulPastel: #E1E7ED;
$verdePastel: #E9F7F1;
$verdeMenta: #95DEC0;

$lila: #D49ED8;
$warning: #EF4A28;
