@use '../base/variables' as v;
@use '../base/mixins' as m;

.btn_nav{
    position: fixed;
    width: 30rem;
    height: 6rem;
    right: 10rem;
    bottom: 0;
    left: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(61, 137, 199, 0.699);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    z-index: 100;

    
    @include m.tablet{
        left: 30%;       
    }

    @include m.telefono{
        left: 10%;
    }
    
    i{
        width: auto;
        margin: 0;
        font-size: 4.2rem;
        color: v.$blanco;
        cursor: pointer;
        transition: all .2s ease-in;

        &:hover{
            color: v.$azul1;
        }
    }
    
}

