@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    width: 100%;
    height: 8rem;
    background: v.$gris1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20;
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);

    // &.menu_salida{
    //     margin-left: 0;
    // }

   
    .icon__menu{
        width: 8rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1.2rem;

        i{
            font-size: 2rem;
            cursor: pointer;
            position: absolute;
            color: v.$azul1;
        }
    }

    h1{
        text-align: center;
        color: v.$azul1;
        @include m.escritorioHD{
            font-size: 2rem;
        }
        
        @include m.tablet{
            font-size: 1.8rem;
        
        }
        @include m.telefono{
            font-size: 1.4rem;
        }
    }

    .logo{
        width: 15rem;
        height: 6rem;
        margin-right: 3rem;

        @include m.tablet{
            width: 10rem;
        }

        @include m.telefono{
            width: 8rem;
            height: 4.5rem;
        }
    }
}